[submodule "model/torch_gpt2"]
	path = model/torch_gpt2
	url = https://github.com/graykode/gpt-2-Pytorch.git
[submodule "model/tf_gpt2"]
	path = model/tf_gpt2
	url = https://github.com/Tenoke/gpt-2.git
[submodule "torch_t2t/t2t"]
	path = torch_t2t/t2t
	url = https://github.com/jadore801120/attention-is-all-you-need-pytorch.git
[submodule "vis/bertviz"]
	path = vis/bertviz
	url = https://github.com/jessevig/bertviz.git
	ignore = dirty

