
## keras ##
#tensorflow>=1.4.0
tqdm
colorama
regex
keras
gensim
h5py

## both ##
gtts
google-api-python-client
google-cloud-speech
PyAudio
unidecode
matplotlib
py-cpuinfo

## pytorch ##
## go to the pytorch web site to download the latest version of pytorch ##

## text-to-speech ##
## install mpg321 from your linux repository ##
